body{
    background-color: white;
}
.header{
    margin-left: 450px;
    
}
.logo img{
    margin-left: 300px;
    width: 60px;
    height: 60px;
    display: inline-block;
}

.titulo{
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 450px;
    font-size: 40px;

}
header nav{
    display: inline;
}

.caja{
    background-color: lightskyblue;
    color: white;
    padding: 10px;
    width: 80px;
    height: 10px;
    border-radius: 15px;
    border: 1px solid white;
}
section > div{
    margin-top: 200px;
    margin-left: 410px;
    float: left;
    font-family: "Winky Rough", sans-serif;
    font-size: xx-large;
    width: 500px;
    height: 285px;
}
div h1{
    margin-top: 0;
    margin-bottom: 0;
}
div h4{
    font-size: small;    
    color: rgb(161, 161, 161);
    font-family: Arial, Helvetica, sans-serif;
}
div a{
    font-size: medium;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
nav a{
    color: rgb(161, 161, 161);
    margin-right: 50px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.persona{
    height: 100px;
    width: 100px;
}

.caja_imagen{
    float: right;
    width: 500px;
    height: 285px;
    margin-top: 125px;
    margin-right: 400px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.caja_imagen img{
    width: 550px;
    height: 500px;
}